* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
header { 
   text-align: center;
}
h1, h2 { 
   margin: 15px;
   color: purple;

}

nav button { 
   color: #fff;
   background-color: purple;
   border-radius: 10px;
   width: 10%;
   padding: 7px;
   border: none;
   min-width: 100px;

}

nav button:hover{ 
   background-color: rgb(97, 24, 97);
   cursor: pointer;
}

form { 
   text-align: center;
   margin: 10px;
}

input[type=submit] { 
   background-color: purple;
   color: #fff;
   cursor: pointer;
   border-radius: 5px;
   min-width: 100px;
}